body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}


img {
    width: 400px; 
    cursor: pointer;
}

/* #pagsig {
    border: none;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}  */